<%- include('layouts/header')  %> 
<%- include('layouts/nav')  %> 
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col text-center">
            <img src="../img/pict.jpg" alt="" width='200' class="img-thumbnail rounded-circle">
            <h1 class="display-4">Gabriel Allba</h1>
            <p class="lead">Student</p>
        </div>
    </div>
</div>
<%- include('layouts/footer') %> 